# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
results/*.json

# Large data files
*.pkl
*.idx
*.model

# LoRA adapters
train/lora-adapter/
poc_bird/logs/

# Python cache
__pycache__/
*.py[cod]
*$py.class
train/*.json
train/train_dataset.json
train/eval_dataset.json
